doctype html

html
	head
		title loading
		link(href = "main.css", rel = "stylesheet", type = "text/css")
	body
		#container
			#spacer
			table#table

		//- babel polyfill
		script(src = "babel.js") 

		//- CSV parser
		script(src = "csv.js") 

		//- main script
		script(src = "main.js") 
