doctype html

html
	head
		title loading
		link(href = "main.css", rel = "stylesheet", type = "text/css")
	body
		#top

		#bottom
			#container
				#spacer
				table#table

		//- babel polyfill
		script(src = "babel.js") 

		//- chart.js
		script(src = "chart.js") 

		//- CSV parser
		script(src = "csv.js") 

		//- config
		script(src = "config.js") 

		//- main script
		script(src = "main.js") 
