html, body
	padding: 0
	margin: 0
	background: #212121
	color: white
	font-family: Roboto, Arial, sans-serif
	
#bottom, #top
	display: flex
	justify-content: center
	position: relative

#container
	position: relative
	width: 600px
	height: 350px
	overflow-y: scroll
	overflow-x: auto

#table
	position: absolute
	width: 100%
	left: 0
	top: 0

#spacer
	display: block
	position: relative
	left: 0
	top: 0

tbody
	width: 100%

.chunk
	margin: 0
	padding: 0

.chart
	width: 265px
	height: 265px
